.comparison-table {
  width: 90%;
  border-collapse: collapse;
  margin: 2% auto;
}

.comparison-table th,
.comparison-table td {
  padding: 25px 20px;
  text-align: center;
  border: none;

} 

.comparison-table th {
  background-color: #526ed0 !important;
  color: white;
  font-weight: bold;
  font-size: 1.06rem;
}

.comparison-table td {
  background-color: #f9f9f9;
  font-size: 1rem;
}

.comparison-table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.comparison-table tr:hover td {
  background-color: #ddd;
}

.comparison-table th:first-child,
.comparison-table td:first-child {
  text-align: left;
}

.comparison-table td:first-child {
  font-weight: bold;
}

.comparison-table th {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.comparison-table tr {
  transition: background-color 0.3s ease;
}

/* Icon style for 5-star reviews or other features */
.comparison-table .icon {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  color: #484cb0;
  font-size: 1.2rem;
}

.comparison-table td {
  position: relative;
}

.comparison-table td:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background-color 0.3s;
}

.comparison-table td:hover:before {
  background-color: rgba(107, 77, 178, 0.1);
}
