/* Button to open the popup */
.open-popup-btn {
    padding: 15px 30px;
    border: solid 2px white;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .open-popup-btn:hover {
    background-color:#fffbe3 !important;
    color: black !important;
    border: solid 2px black;
    border-radius: 4%;
  }
  /* Popup Overlay */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Popup Content */
  .popup-content {
    background-color: white;
    color: black;
    padding: 100px;
    width: 800px;
    position: relative;
    border-radius: 5px;
  }
  
  /* Close Button */
  .close-popup-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 10px;
  }
  
  form input {
    padding: 8px;
    margin: 10px;
    border: none;
    border-bottom: solid;
  }
  
  .submit-btn {
    margin:2% 0 0 3%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  