.table, .bullet, .images{
    margin : 1% 10% 2% 10%;
}
.styled-table {
    width: 80%;

    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
  }
  
  .styled-table thead tr {
    background-color: #4CAF50;
    color: white;
  }
  
  .styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:hover {
    background-color: #ddd;
  }
  
