.whole{
    margin: 1% 15% 1% 15%;
}
.header{
    text-align: center;
    margin-bottom: 1%;
}
.header table{
    margin: 0 auto;
    color:darkcyan;
}
.sample1{
    margin: 2% 0 1% 0;
    line-height: 1.5;
    background-color: aliceblue;
}
p{
    font-size: 1.1rem;
}
.sample2{
    background-color: antiquewhite;
}

.sample3{
    background-color:beige;
}

