.box1{
    width: 50%;
    margin: auto;
} 
.box1 p {
    margin :2% 0 2% 0;
}

.founder{
    margin: 0 15% 2% 15%;
    display: flex;
}
.founder img{
    border-radius: 100%;
    margin-left: 3%;
}
.yt{
    width: 50%;
    margin: 0 auto;
}

.parentyt{
    width: 100%;
    background-color: #017BB5;
    padding-top: 2%;
    margin-bottom: 0;
}

.images{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}