.box1{
    width: 50%;
    margin: 4% auto;
} 
 
.story, .philosophy, .teamclass{
    display: flex;
    flex-direction: column;
}
.story h3, .philosophy h3, .teamclass h3{
    margin-bottom: 2%;
}

.story p, .philosophy p, .teamclass p{
    line-height: 2 !important;
    margin: 0 2% 4% 2%;
}

.founder{
    display: flex;
    flex-direction: row;
    margin: 0 10% 1% 15%;
    gap: 2%;
}

.founder p{
    line-height: 2 !important;
}

.founder img{
    border-radius: 100%;
    margin-left: 3%;
    width: 20%;
}
.yt{
    width: 50%;
    margin: 3% auto;
    border: 1px solid #fffbe3;
}

.connect{
    width: 50%;
    margin: 0 auto;
}

.parentyt{
    width: 100%;
    background-color: #017BB5;
    padding-top: 2%;
    margin-bottom: 0;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 8%;
}