.one{
    margin: 0% 0% 2% 15% ;
    width: 75%;
}

.text-image{
    display: flex;
    padding-bottom: 2%;
}
.text-image img{
    height:10%;
    margin: 1% 0 0 0;
}
.text {
    justify-content: center;
    align-items: baseline;
    margin: 5% 10% 0 3%;

}
.ow-break{
    overflow-wrap: break-word;
}

.standout{
    margin: 3% 20% 4% 16%;
}

.homecard {
    width: 28%;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    text-align: center;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: #33425b !important;
    background-color: #fffbe3 !important;
    margin : 1% 2% 0 2%;
    padding: 2% 3% 2% 3%;
  }
  
  .homecard:hover { 
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .homecard:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.homecard h3{
    padding-bottom: 5%;
    color: #33425b !important;
    background-color: #fffbe3 !important;
}

.homecard p{
    color: #33425b !important;
    background-color: #fffbe3 !important;
}

.flexbox{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-direction: row;
}

.programs, .resources{
    margin: 5% 15% 1% 10%;
}

.last-btn{
    margin: 5% 5% 5% 0;
    text-align: center;
}

.programs a{
    text-decoration: none;
}
.programs button, .resources button{
    padding: 7px 15px;
    border: solid 2px white;
    cursor: pointer;
    font-size: 1rem;
}

.programs button:hover, .resources button:hover{
    background-color:#fffbe3 !important;
    color: black !important;
    border: solid 2px black;
    border-radius: 4%;
  }